.asset-list {
    height: 100%; 
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

.asset-list::-webkit-scrollbar {
    display: none;
}

.arrow-icon-area {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.arrow-icon {
    margin-left: 50px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.arrow-icon-unit {
    margin-left: 30px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.area-icon {
    width: 20px;
    height: 20px;
}

.unit-icon {
    width: 20px;
    height: 20px;
}

.asset-item {
    display: flex;
    align-items: center;
    margin-top: 3px;
    background-color: white;
    height: 45px;
    gap: 10px;
    cursor: pointer;
}

.asset-item.selected {
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
}

.asset-item.selected .area-title,
.asset-item.selected .area-subtitle {
  color: black;
}

.three-dots-btn {
    margin-left: auto;
    margin-right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.area-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.area-title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.area-subtitle {
  font-size: 12px;
  color: gray;
  margin-top: 2px;
}

.check-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.no-asset-message {
  text-align: center;
  color: #777;
  font-size: 18px;
  margin-top: 40px;
}

.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  min-width: 150px;
  overflow: hidden;
}

.context-menu-item {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}

.context-menu-item:hover {
  background-color: #f2f2f2;
}
