.overview-header {
    display: flex;
    flex:1;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: #f5f5f5f5;
}

h5 {
    margin-left: 10px;
}

.overview-subtitle {
    display: flex;
    margin-left: 50px;
    font-size: 12px;
    margin-top: 13px;
    font-weight: bold; 

}

.total-unmapped-title {
    margin-left: 80px;
} 

.text-line {
    display: flex;
    align-items: center;
    gap: 6px; 
    position: relative;
}

.total-asset, .total-unmapped-asset {
    text-align: center;

}

.blinking-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 5px red;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
    box-shadow: 0 0 5px 2px red;
  }
  50% {
    opacity: 0.3;
    box-shadow: 0 0 2px 0px red;
  }
}

.review-map-btn {
    margin-left: 70px;
    background-color: rgb(8, 166, 8);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.upload-asset-btn {
    margin-left : auto;
    margin-right: 25px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 12px;
    font-size: 13px;
    
}