
.app {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
  font-family: "Segoe UI", sans-serif;

}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex:1;
  overflow:hidden;
  background-color: smokewhite;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  margin: 40px 20px 20px 20px;
  border-radius: 10px;
}

.hierarchy-container{
  width: 25%;
  height: 100%;
  background-color: smokewhite;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.detail-container{
  flex:1;
  margin-left: 20px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 9px;
}

.text-header {
 margin-left: 20px;
 margin-top: 21px;
 font-size: 12px;
}

.static-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #333;
    cursor: default;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }

  .static-btn .x-icon {
    font-weight: normal;
    font-size: 15px;
    color: #888;
  }

  .static-btn .arrow img{
    width: 10px;
    height: 10px;
    margin-top: 6px;
  }